.movie-list {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 8px;
}

.movie-list-part {
  display: flex;
  justify-content: space-between; 
  align-items: center;          
  background-color: #222;
  padding: 12px;
  border-radius: 12px;
}

.goto-button {
  gap: 8px;
  background-color: #334155;
  color: #9ab0c9;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 10px;
}

.goto-button:hover {
  background-color: #475569;
  color: #cbd5e1;
  transform: translateY(-2px);
}

.poster-movielist {
  width: 150px;
  border-radius: 6px;
}

.movie-info-list {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.movie-info-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.movie-info-text div {
  display: flex;
  align-items: center;
}

.label {
  font-weight: bold;
  color: #9ab0c9;
   margin-right: 5px;
}

.voorstelling-info {
    display: flex;
    flex-wrap: wrap;      
    gap: 16px;             
}

.voorstelling-card {
  border-radius: 12px;
  background-color: #334155;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: inline-flex;
  flex-direction: column;
  width: fit-content; 
  height: fit-content;
}

.button {
  gap: 8px;
  background: #1a1a20;
  color: #9ab0c9;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 10px;
}

.button:hover {
  background-color: #475569;
}
