.movie-form-side {
    flex: 1;
    display: flex;           
    flex-direction: column;  
    gap: 20px;               
}

.form-top {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1f2937;
    padding: 20px;
    border-radius: 12px;
    flex: 2;
}

.form-bottom {
    flex: 1;
    background-color: #334155;
    padding: 15px;
    border-radius: 8px;
}

.form-bottom select {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: #475569;
    color: #f5f5f5;
}


.movie-preview-side {
  flex: 1;
  min-width: 300px;
  background-color: #2c2c34;
  padding: 20px;
  border-radius: 12px;
}

.top h1{
  text-align: center;
  margin-bottom: 16px;
}

.movie-panel {
  background: #1a1a1f;
  color: #f0f0f0;
  padding: 20px;
  border-radius: 12px;
  font-family: "Segoe UI", Arial, sans-serif;
}

.movie-panel h2 {
  margin-bottom: 15px;
  color: #9ab0c9;
}

.form-group {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.form-group select {
  background-color: #334155;
  color: #f5f5f5;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.form-top select:hover {
  background-color: #475569;
}

.form-top select {
  background-color: #334155;
  color: #f5f5f5;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.form-group select:hover {
  background-color: #475569;
}

.form-group label {
  margin-bottom: 4px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  background: #2a2a33;
  color: #fff;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 8px;
}

.form-group input[type="file"] {
  border: none;
  background: none;
  padding: 0;
}

.save-button {
  background-color: #334155;
  color: #f5f5f5;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.save-button:hover {
  background-color: #475569;
}

.movie-panel-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.movie-preview-side {
  flex: 1;
  min-width: 300px;
}

.movie-preview-poster {
  width: 220px;
  border-radius: 6px;
}

.movie-info-preview {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}

.movie-preview-info {
  flex: 1;
  min-width: 0;
  margin: 8px 0;
  word-wrap: break-word;
}

.delete-button {
    margin-top: 12px;
    background-color: #b91c1c;
    color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.delete-button:hover {
    background-color: #ef4444;
}